<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Impedance Adaptation Interface</title>
</head>
<body>
<h2>PicoVNA High Frequency Impedance Matching</h2>
<button onclick="connect()">Connect</button>
<button onclick="measure()">Measure</button>
<button onclick="matching()">Calculate Matching</button>
<div id="s11-plot"></div>
<div id="s21-plot"></div>
<div id="s12-plot"></div>
<div id="s22-plot"></div>
<script src="/static/js/app.js"></script>
</body>
</html>
